{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo center">Srirang Subramanian</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="{% url 'index' %}">Contact</a></a></li>
      <li><a href="{% url 'index' %}">Projects</a></li>
    </ul>
  </div>
</nav>

<!-- Main -->

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>


</body>
</html>
