{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- GitHub -->
<div id='container' style="width:100%">
  <div id="left" style="float:left; width:30%;">
    <h3>Welcome, I'm Srirang.</h3>
    <img src="https://picsum.photos/200" alt="{% static 'github.jpg'%}">
    <h6>

    </h6>


  </div>

  <div id='right' style='float:right; width:50%;'>
    <h3>Quick Links:</h3>

    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><i class="fab fa-github"> GitHub</i></span>
          <p>I use GitHub as a repository to store all of my projects. Feel free to browse around. </p>
        </div>
        <div class="card-action">
          <a href="https://github.com/KingSri">My GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="fab fa-linkedin"> LinkedIn</i></span>
          <p>I use GitHub as a repository to store all of my projects. Feel free to browse around. </p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/srirang-subramanian/">My LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="fas fa-envelope"></i>  Email</span>
          <p>I use GitHub as a repository to store all of my projects. Feel free to browse around. </p>
        </div>
        <div class="card-action">
          <a href="mailto:srirang97@gmail.com">Send me an email</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="fas fa-file"></i>  Resume</span>
          <p>I use GitHub as a repository to store all of my projects. Feel free to browse around. </p>
        </div>
        <div class="card-action">
          <a href="#">Resume</a>
        </div>
      </div>
    </div>
  </div>


</div>

</div>







<!-- <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">chat</i></h2>
            <h5 class="center">Resume</h5>

            <p class="light">Connect with others! Find events, and leave a comment! How can Dekigoto help you?</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">chat</i></h2>
            <h5 class="center">LinkedIn</h5>

            <p class="light">With our new and improved comment system, getting information about an event has never been easier! </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="fab fa-github"></i></h2>
            <h5 class="center">GitHub</h5>

            <p class="light">Sign up today to be a part of the Dekigoto community!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div> -->


{% endblock %}
