{% extends 'base.html' %}
{% load static %}
{% block content %}



<div id='container' style="width:100%">
  <div id="left" style="float:left; width:30%;">
    <h3>Welcome, I'm Srirang.</h3>
    <img src="https://picsum.photos/200" alt="{% static 'github.jpg'%}">
    <h6>


    </h6>


  </div>

  <div id='right' style='float:right; width:50%;'>
    <h3 class="center">Contact Me:</h3>

    <div class="row">
      <!-- GitHub -->
    <div class="col s12 m6">
      <div class="card brown darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><i class="fab fa-github"> GitHub</i></span>
          <p>I use GitHub as a repository to store all of my projects. Feel free to browse around. </p>
        </div>
        <div class="card-action">
          <a href="https://github.com/KingSri">My GitHub</a>
        </div>
      </div>
    </div>

<!-- LinkedIn -->
    <div class="col s12 m6">
      <div class="card blue darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><i class="fab fa-linkedin"> LinkedIn</i></span>
          <p>Let's connect professionally. Send me an invite through LinkedIn. </p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/srirang-subramanian/">My LinkedIn</a>
        </div>
      </div>
    </div>


  </div>


  <div class="row">

    <!-- Email -->
    <div class="col s12 m6">
      <div class="card grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><i class="fas fa-envelope"></i>  Email</span>
          <p>Prefer to get in touch with me directly? Send me an email, and I will get back to you as soon as possible. </p>
        </div>
        <div class="card-action">
          <a href="mailto:srirang97@gmail.com">Send me an email</a>
        </div>
      </div>
    </div>

    <!-- Resume -->
    <div class="col s12 m6">
      <div class="card orange darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title"><i class="fas fa-file"></i>  Resume</span>
          <p>This is a list of my professional experience as of May 26, 2020. I'm always looking for opportunities. </p>
        </div>
        <div class="card-action">
          <a href="{% url 'resume' %}">Resume</a>
        </div>
      </div>
    </div>


  </div>



</div>

</div>

{% endblock %}
