{% extends 'base.html' %}
{% load static %}
{% block content %}


<h3>Projects created:</h3>

{% for project in project %}
<div class="row">
  <div class="col s4 m4">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">Learn more!</p>
        <p class="card-text">Created on {{project.date}}</p>
        <a href="{% url 'detail' project.id %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
