{% extends 'base.html' %}
{% load static %}
{% block content %}


<h3>Projects created:</h3>

{% for project in project %}
<div class="row">
    <div class="col s12 m7">
      <div class="card grey">
        <div class="card-image">
          <img src="{{project.photo.url}}">
          <span class="red-text text-darken-5 card-title">{{project.name}}</span>
        </div>
        <div class="card-content">
          <p>Created on {{project.date}}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'detail' project.id %}">Learn more!</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
